<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nhatro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <permission
        android:name="com.nhatro.permission.MAP_RECEIVE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_api_key" />

        <activity android:name=".MainActivity">

        </activity>

        <activity android:name=".Home" />
        <activity android:name=".Filter" />
        <activity
            android:name=".Details"
            android:label="@string/title_activity_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ChonTinh" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".Image_View" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Newpost"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".LayViTri" />
        <activity android:name=".XemTinTimPhong" />
        <activity android:name=".ThemTinTimPhong" />
        <activity android:name=".ChonViTriNhanThongBao" />
        <activity android:name=".TestActivity" />
        <activity android:name=".ChangePassActivity" />
        <activity android:name=".ChangeProfileActivity" />
        <activity android:name=".IntroduceActivity" />
        <activity android:name=".SupportActivity" />
        <activity android:name=".ManagerSaveRoomActivity" />
        <activity android:name=".Filter2" />
        <activity android:name=".EditImage"></activity>

        <activity android:name=".ManageNewsActivity" />
        <activity
            android:name=".ManagerNews"
            android:label="@string/title_activity_manager_news"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TabManager"
            android:label="@string/title_activity_tab_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TabManagerActivity"
            android:label="@string/title_activity_tab_manager"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".SplashScreen"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


    </application>

</manifest>